# Dependencies
node_modules/
package-lock.json

# Build output
dist/

# Environment
.env
.env.local
.env.*.local

# Firebase
.firebase/
firebase-debug.log
/admin-credential.ts

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
